<li class="nav-item <%= (locals.menu_admin ? 'menu-is-opening menu-open' : '') %>">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-user-shield"></i>
        <p>
            Admin
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview" <%- (locals.menu_admin ? 'style="display:block"' : 'style="display: none"' ) %> >
        <li class="nav-item">
            <a href="/users" class="nav-link">
                <i class="fas fa-user-friends nav-icon"></i>
                <p>User</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/hakakses" class="nav-link">
                <i class="fas fa-user-lock nav-icon"></i>
                <p>Hak Akses</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/departement" class="nav-link">
                <i class="fas fa-building nav-icon"></i>
                <p>Departemen</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/debug" class="nav-link">
                <i class="fas fa-bug nav-icon"></i>
                <p>Debug</p>
            </a>
        </li>

    </ul>
</li>