<h5>
    test
    <ul>
        {{userId}}
        q_usermodule
        {{#each usermodule}}
        <li>{{this.moduleId}} {{#loud this.moduleName}}{{/loud}}</li>
        {{/each}}
        {{#if (checkp usermodule Admin2)}}
        q_usermodule2
        {{#each q_usermodule2}}
        <li>{{this.moduleId}} {{#loud this.moduleName}}{{/loud}}</li>
        {{/each}}
        {{/if}}
        q_users
        {{#each q_users}}
        <li>{{this.userId}} {{#loud this.fullname}}{{/loud}}</li>
        {{/each}}
    </ul>
</h5>