<div class="menu_section mb-n3">
    <ul class="nav side-menu">
        <li><a><i class="fa fa-gears"></i> Admin <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/users">User</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/debug">Debug</a></li>
            </ul>
        </li>
    </ul>
</div>